header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #001528;
}


header .logo {
  font-size: 1.5em;
  color: #fff;
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}


.logo img {
  width: 110px; /* Adjust size of the logo image */
  height: auto; /* Maintain aspect ratio */
  vertical-align: middle;
  transition: transform 0.3s ease;
}
.logo:hover img {
  transform: scale(1.1) rotate(5deg);  
}


.logo span {
  font-size: 1.0em; /* Adjust text size as needed */
  color: #fff; /* Color to match your design */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}


@media (max-width: 768px) {
  .logo img {
    width: 80px; /* Smaller size for mobile */
  }
  .logo span {
    font-size: 0.7em;
  }
}



header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
header nav ul li a {
  color: #b0c4de;
  text-decoration: none;
}
header .insights {
  background-color: #00ffff;
  color: #001528;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

main {
  text-align: center;
  color: #fff;
  padding: 40px;
}
main h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
.form-container {
  background-color: #0a2e4d;
  padding: 20px;
  border-radius: 10px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.form-row label {
  color: #b0c4de;
}
.form-row input {
  background-color: #143b5b;
  color: #fff;
  border: none;
  padding: 8px;
  width: 45%;
  border-radius: 5px;
}


button, .prediction-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover, .prediction-card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}



.primary-btn, .secondary-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.primary-btn {
  background-color: #00bfff;
  color: #001528;
}
.secondary-btn {
  background-color: #143b5b;
  color: #b0c4de;
  margin-left: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #001528;
  color: #b0c4de;
}